.category-all-page {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    background-color: #FFE4B5;
    padding: 20px 30px 60px 30px;
    border-radius: 25px 25px 25px 25px;

  .category-all-title { text-align: center; }

  .category-all { margin-top: 20px; }

  .category-all ul li {
    list-style: ">";
  }

  .category-list {
    margin: 0;
    padding: 0;
    list-style: "★";
  }

  .category-list-item { margin: 5px 10px; }

  .category-list-count {
    color: $grey;
    &:before {
      display: inline;
      content: " ("
    }
    &:after {
      display: inline;
      content: ") "
    }
  }

  .category-list-child { padding-left: 35px; }
}

