// Custom styles.
body {
    background-image:url(https://cdn.jsdelivr.net/gh/wandouduoduo/wandouduoduo.github.io@v1.0/images/background.jpg);
    background-attachment:fixed;
    background-position:50% 50%;
    -webkit-background-size: cover;
}
code {
    color: #ff7600;
    background: #fbf7f8;
    margin: 2px;
}
// 大代码块的自定义样式
.highlight, pre {
    margin: 5px 0;
    padding: 5px;
    border-radius: 3px;
}
.highlight, code, pre {
    border: 1px solid #d6d6d6;
}
// 主页文章添加阴影效果
.post {
   margin-top: 10px;
   margin-bottom: 10px;
   padding: 10px;
   -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
   -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
}
.site-meta {
  background: $blue; //天空的颜色，和我的眼镜是绝配
}

.hider_title{
    font-family: "Microsoft Yahei";
    cursor: pointer;
}
.close:after{
    content: "▼";
}
.open:after{
    content: "▲";
}